.Experience {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.experienceContent {
  font-size: 1rem;
  color: black;
  margin: auto;
}

.contentTitle {
  margin: 6rem auto 2rem;
  text-align: center;
}

.boxFlex {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.boxContainer {
  margin: 3rem 2rem;
  width: 300px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow:0 3px 10px rgb(0 0 0 / 0.2);
  padding: 2rem;
}

.boxContainer p {
  line-height: 2;
}


.buttonBackground {
  all: unset;
  background-color: #ff4f98;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  position: absolute;
  display: flex;
  margin: auto;
  z-index: 10;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  align-items: center;
}

.buttonBackground:active {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  font-weight: bold;
}

.buttonFont {
  margin: auto;
}
