.Contact {
    position: relative;
    min-height: 100vh;
    display: flex;
}

.contactContainer {
    margin: 3rem 2rem;
    width: 30rem;
    height:18rem;
    margin: auto;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding: 2rem;
    overflow: scroll;
}

@media (max-width: 600px) {
    .contactContainer{
        box-shadow: none;
        overflow: auto;
        height: auto;
    }
}